# Flutter build and tool directories
build/
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies

# IntelliJ / Android Studio
.idea/
*.iml

# VS Code
.vscode/


# Android specific
android/.gradle/
android/local.properties
android/app/build/

# iOS specific
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# macOS specific
macos/Flutter/ephemeral/

# Web
web/.dart_tool/
web/build/

# OS-specific files
.DS_Store
Thumbs.db

# Sensitive environment configuration
env.json
